@import "reset.css";
@import "media.css";

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #232222;
}

a {
    color: inherit;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

/* HEADER */
/* .header{
    min-height: calc(100vh - 50px);
} */
.header__top {
    padding-top: 29px;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-left: 19px;
}

.menu {
    margin-top: 16px;
}

.menu__list {
    display: flex;
    column-gap: 30px;
}

.menu__item {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #001E64;
}

.menu__link:hover {
    border-bottom: 1px solid #001E64;
}

.phone {
    margin-top: 11px;
    margin-right: 40px;
}

.header__content {
    background: url("../images/base.png") center no-repeat;
    background-size: cover;
    padding-bottom: 80px;
    margin-top: -67px;
    min-height: calc(100vh - 50px);
}

.header__title {
    padding-top: 210px;
    padding-left: 112px;
    margin-bottom: 130px;
    max-width: 589px;
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 72px;
    line-height: 95px;
    color: #001E64;
}

.header-slider {
    max-width: 407px;
    padding-bottom: 160px;
    padding-top: 43px;
    padding-left: 112px;
}

.header-slider__text {
    margin-bottom: 25px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.slick-prev,
.slick-next {
    position: absolute;
    left: 50px
}

.slick-prev {
    top: 0;
    left: 51px;
}

.slick-next {
    bottom: 0;
}

.slick-dots {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    position: absolute;
    top: 58px;
    bottom: 55px;
    left: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slick-dots li {
    opacity: 0.5;
}

.slick-dots .slick-active {
    opacity: 1;
}

.slick-dots li::before {
    content: "0"
}

.header__content-btn {
    padding: 14px 88px;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 20px;
    position: relative;
    left: 112px;
    bottom: 115px;
}

.header__content-box {
    justify-content: flex-end;
    margin-right: 30px;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    display: flex;
}

.header__content-link--active {
    font-weight: 700;
}

.product__content {
    padding-top: 100px;
}

.product__content-wrapper {
    display: flex;
    justify-content: space-between;
}

.product__content-names {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 88px;
    width: 422px;
}

.product__content-name {
    text-align: center;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #232222;
    overflow: visible;
}

.product__content-name.slick-current {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 36px;
    color: #001E64;
}

.product__content-names {
    margin-top: 15px;
    margin-bottom: 15px;
}

.product-prev,
.product-next {
    position: absolute;
    left: 59.2%;
}

.product-prev {
    top: 0;
}

.product-next {
    bottom: 70px;
}

.product__content-items {
    width: 600px;
}

.product__content-box {
    display: flex;
    justify-content: space-between;
}

.product__content-about {
    margin-top: 30px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #232222;
}

.product__content-about span {
    display: block;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #001E64;
}

.product__content-img {
    object-fit: cover;
}

.product__name {
    width: 510px;
    padding-top: 30px;
}

.product-prev {
    position: absolute;
}

.product-prev,
.product_next {
    border: none;
    background-color: transparent;
    padding: 0;
}

.product__content-title {
    color: #001E64;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 32px;
    padding-top: 20px;
    font-size: 24px;
}

.product__name-item {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    line-height: 32px;
}

.product__content-list {
    list-style: none;
    width: 291px;
}

.product__content-btn {
    display: inline-block;
    margin-bottom: 10px;
    color: #001E64;
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    padding: 12px 85px;
    background-color: transparent;
    text-transform: uppercase;
    border: 1px solid #01174b;
    border-radius: 20px;
    margin-bottom: 12px;
    cursor: pointer;
}

.seafood {
    background: url(../images/product__base.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 290px 0px 95px;
    font-family: 'Roboto Slab' serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFF;
}

.seafood__items {
    display: flex;
    justify-content: space-around;
}

.seafood__item {
    width: 180px;
    min-height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../images/product__Rakushka.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 250px;
}

.seafood-content {
    padding: 100px 0px;
}

.container {
    margin-bottom: 100px;
}

.seafood-box__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-right: 160px;
}

.seafood__item-content {
    margin-right: 100px;
}

.seafood__item-title {
    font-family: 'Roboto Slab' serif;
    max-width: 490px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #001E64;
}

.seafood__item-text {
    min-width: 420px;
    margin-bottom: 20px;
    font-size: 19px;
}

.seafood-box__item-img {}

.seafood__blockquote {}

.seafood__blockquote-img {
    scale: 1.2;
    position: relative;
    left: 150px;
}

.seafood__blockquote-text {
    position: relative;
    left: 400px;
}

.seafood__item-text1 {
    position: relative;
    left: 105px;
    font-size: 19px;
}

.seafood__item-title1 {
    font-family: 'Roboto Slab' serif;
    max-width: 490px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #001E64;
    position: relative;
    left: 105px;
}

.seafood__blockquote-text1 {
    position: relative;
    left: 400px;
    scale: 1.1;
}

.seafood__blockquote-text2 {
    position: relative;
    left: 410px;
    font-size: 19px;
}

.contacts__down {
    position: relative;
    display: flex;
    bottom: 100px;
    left: 690px;
}

.contacts__img {
    scale: 0.91;
    position: relative;
    left: 43px;
    bottom: 10px;
}

.contacts__text {
    position: relative;
    top: 30px;
    font-size: 19p73
}

.contact__title1 {
    position: relative;
    font-size: 22px;
    left: 18px;
    color: #001E64;
}

.contact__title2 {
    position: relative;
    font-size: 22px;
    left: 18px;
    color: #001E64;
    top: 3px;
}

.contact__btn {
    position: relative;
    left: 19px;
    top: 25px;
}

.phone__contact {
    position: relative;
    left: 19px;
    top: 40px;
}

.contacts__sovet {
    position: relative;
    left: 19px;
    top: 67px;
}

.contacts__help {
    position: relative;
    left: 19px;
    top: 30px;
}

.contacts__sovet1 {
    position: relative;
    left: 19px;
    top: 73px;
}

.contacts__sovet2 {
    position: relative;
    left: 19px;
    top: 73px;
}

.contacts__sovet3 {
    position: relative;
    left: 19px;
    top: 73px;
}

.podval__list1 {
    display: flex;
    column-gap: 60px;
    position: relative;
    left: 940px;
    top: 78px;
    font-size: 21px;
    text-transform: uppercase;
    color: black;
}

.podval__logo1 {
    position: relative;
    left: 1930px;
    bottom: 18px;
}

.podval__insta {
    color: #001E64;
}

.podval__contacts-insta {
    position: relative;
    left: 700px;
    bottom: 79px;
}